body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44); 
    color: aliceblue;
}

.Main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 88vh; 
}

#title {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
    padding-left: 10px;
}

a:hover {
    text-decoration: underline; 
}


#link {
    float: right;
    padding-right: 10px;
}


#title p {
    text-align: center; 
}

form {
    padding: 70px;
    background-color: rgb(20, 20, 20);
    border-radius: 6px;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.password-container {
    display: flex;
    align-items: center; 
  }
  
  .fa-copy {
    cursor: pointer;
    margin-right: 10px; 
  }
  

#Gender {
    display: flex;
}

#Gender label {
    padding-right: 70px;
}

label {
    display: block;
    margin-bottom: 8px;
}

button {
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    background-color: rgb(231, 192, 37);
    cursor: pointer;
}

button:hover {
    background-color: rgb(221, 186, 44);
}

#result {
    margin-top: 16px;
    font-weight: 400;
}
